<p>From Users</p>

<div style="background-color: green">
  <ng-content select=".success"></ng-content>
  <ng-content select="#success"></ng-content>
</div>
<div style="background-color: darkred">
  <ng-content select=".error"></ng-content>
  <ng-content select="#error"></ng-content>
</div>
<div style="background-color: blue">
  <ng-content select=".warning"></ng-content>
  <ng-content select="#warning"></ng-content>
</div>

<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
<!--<app-user></app-user>-->
