<!--<h2>This is a App Component</h2>-->
<!--<app-users></app-users>-->

<!--class selector-->
<!--<div class="app-users"></div>-->

<!--property selector-->
<!--<div app-users></div>-->

<!--databinding-->
<!--String Polation-->
<!--<p> {{name}}</p>-->
<!--Property Binding-->
<!--<button [disabled]="isEnabled">Add User</button>-->

<!--event Binding-->
<!--<input type="text" (input)="OnInpitChange($event)">-->

<!--TwoWay Binding-->
<!--<input type="text" [(ngModel)]="name">-->


<!--*************************-->

<!--<h1 [hidden]="userName===''">Welcome {{userName}}</h1>-->
<!--<h1 [hidden]="userName!==''">Please Enter Your UserName</h1>-->
<!--<hr>-->
<!--<label>Username</label>-->
<!--<input type="text" (input)="onUserNameInputChanged($event)">-->
<!--<br>-->
<!--<label>Password</label>-->
<!--<input type="password" (input)="onPasswordInputChanged($event)">-->
<!--<br>-->
<!--<label>ReTypePassword</label>-->
<!--<input type="password" (input)="onRetypePasswordInputChanged($event)">-->
<!--<br>-->
<!--<br>-->
<!--<label [hidden]="!isPasswordMatch " style="color: green">Password Is Match!!!!</label>-->
<!--<label [hidden]="isPasswordMatch || password ===''" style="color: red">Password Is Not Match!!!!</label>-->


<!--<button class="btn btn-outline-primary btn-group">Add Person</button>-->


<!--Attribute Bindiing-->
<!--<label class="alert-secondary col-xxl-12">Attribute Binding</label>-->
<!--<p [style.font-size]="isCorrect ? '3rem' : '9rem'">Testing</p>-->
<!--<p [style]="style">Testing</p>-->
<!--<p [ngStyle]="style">Testing5</p>-->
<!--<p [class]="isCorrect ? 'big-font-size' : 'small-font-size'">Testing3</p>-->
<!--<p [class]="classes">Testing4</p>-->
<!--<p [ngClass]="classes">Testing4</p>-->

<!--<p *ngIf="isCorrect">ngif true</p>-->
<!--<p *ngIf="!isCorrect">ngif false</p>-->
<!--<p *ngIf="isCorrect; else elseCond ">ngif false</p>-->

<!--<ng-template [ngIf]="!isCorrect">-->
<!--  <p>ngIf True</p>-->
<!--</ng-template>-->

<!--<ng-template #elseCond>Else Condition</ng-template>-->

<!--<button (click)="addNewUser()"></button>-->
<!--<p *ngFor="let user of users; let i=index">{{i + " : " + user}}</p>-->
<!--<p *ngFor="let user of userObj; let i=index trackBy:trackByFunc">{{user.id + " : " + user.name}}</p>-->

<!--<div [ngSwitch]="switchProperty">-->
<!--  <app-switch-case1 *ngSwitchCase="'a'"></app-switch-case1>-->
<!--  <app-switch-case2 *ngSwitchCase="'f'"></app-switch-case2>-->
<!--  <app-switch-case3 *ngSwitchCase="'z'"></app-switch-case3>-->
<!--  <app-switch-case4 *ngSwitchCase="'b'"></app-switch-case4>-->
<!--</div>-->
<!--<app-star *ngFor="let rating of ratings" [starRating]=rating (starEventEmitter)="onStartClicked($event)" )></app-star>-->
<!--<app-star [rating]=4></app-star>-->
<!--<app-star [rating]=4.5></app-star>-->
<!--<app-star [rating]=5></app-star>-->
<!--<app-star [rating]=3></app-star>-->

<!--<div class="container-fluid">-->
<!--  <app-adduser (onAddUserClicked)="userAdded($event)"></app-adduser>-->
<!--  <app-usertable [users]="users" ]></app-usertable>-->
<!--</div>-->
<!--sanitizie html-->
<!--<p #par [innerHTML]="htmlTest">From App Component</p>-->
<!--<p #par>From App Component</p>-->
<!--<label>Test Label</label>-->
<!--<input type="text" #inputName>-->
<!--<button (click)="onClick(inputName)"> Click Me!!!</button>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-inc></app-inc>-->
<!--<app-users><p #par class="success">Hello World!!!</p></app-users>-->
<!--  <button (click)="onContentChange()" ></button>-->
<!--<app-user [user]="user"></app-user>-->
<!--<select>-->
<!--  <div *ngFor="let user of users">-->
<!--    <div *ngIf="user.age  > 30">-->
<!--      <option [ngValue]="user" ]>{{user.name}}  ({{user.age}})</option>-->

<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  <option *ngFor="let user of users">{{user.name}}  ({{user.age}})</option>&ndash;&gt;-->
<!--</select>-->

<!--<select (change)="onSelectedChanged($event)" )>-->
<!--  <ng-container *ngFor="let user of users">-->
<!--    <div *ngIf="user.age  > 30">-->
<!--      <option [ngValue]="user" ]>{{user.name}}  ({{user.age}})</option>-->
<!--      <option [Value]="user" ]>{{user.name}}  ({{user.age}})</option>-->

<!--    </div>-->
<!--  </ng-container>-->
<!--  <option *ngFor="let user of users">{{user.name}}  ({{user.age}})</option>-->
<!--</select>-->


<!--<input type="text" appColorful style="width: fit-content">-->
<!--<p [appAppHighlight]="color"> Hello World!!!!!</p>-->

<!--<div *appCarousel="let image from images autoplay 'No' ;let ctrl=controller">-->
<!--  <img [src]="image" alt="">-->
<!--  <button (click)="ctrl.next()">Next Image</button>-->
<!--  <button (click)="ctrl.prev()">Previous Image</button>-->
<!--</div>-->

<!--convert this tag-->
<!--<ng-template [appCarousel]>-->
<!--  <div></div>-->
<!--</ng-template>-->


<!--Services-->
<nav class="nav nav-fill nav-pills">
  <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active"
     routerLinkActiveOptions="{exact:true}">Home</a>
  <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
  <a class="nav-item nav-link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
</nav>
<router-outlet></router-outlet>

